/* ===== GLOBAL ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f3ef;
  color: #000;
}

a {
  text-decoration: none;
}

/* ===== NAVBAR ===== */
.navbar {
  background: #000;
  color: gold;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: gold;
}

/* ===== HERO ===== */
.hero {
  text-align: center;
  padding: 40px 20px;
}

.hero h2 {
  color: gold;
}

.hero-img {
  width: 100%;
  max-width: 380px;
  height: 300px;
  margin: 20px auto;
  display: block;
  border-radius: 18px;
}

/* ===== SHOP ===== */
.shop {
  padding: 50px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
  max-width: 1100px;
  margin: auto;
}

/* ===== PRODUCT CARD ===== */
.product-card {
  background: white;
  border-radius: 18px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  overflow: hidden;
  text-align: center;
}

.product-card img {
  width: 100% 
  max-width: 100% 
  height: 40px
  object-fit: cover;
  cursor: pointer;
  border-radius: 16px;
}
/* COIFFURES (RÉSERVATION) */ 
.hair-card img { width: 100% height: 80px object-fit: cover; border-radius: 16px; }

/* ===== PRODUCT INFO ===== */
.product-card h4 {
  margin: 12px 0 5px;
}

.price {
  font-size: 22px;
  color: #d4af37;
  margin-bottom: 15px;
}

/* ===== INSTAGRAM ICON ===== */
.instagram-link img {
  width: 12px;
  height: 12px;
}

/* ===== LIGHTBOX ===== */
#lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

/* MOBILE */ @media (max-width: 768px) { 
  .hero-img { max-width: 300px } 
  .product-card img, .hair-card img { height: 80px } } 
  .instagram-link img { width: 12px; height: 12px; }
}
