body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f3ef;
}

.navbar {
  background: #000;
  color: gold;
  padding: 15px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  color: gold;
  margin: 10px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: gold;
}
