/* ===== GLOBAL ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8f3ef;
  color: #000;
}

a {
  text-decoration: none;
}

/* ===== NAVBAR ===== */
.navbar {
  background: #000;
  color: gold;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: gold;
  font-weight: 500;
}

.nav-links a:hover {
  color: white;
}

/* ===== SHOP SECTION ===== */
.shop-section {
  padding: 60px 30px;
}

.shop-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.shop-subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 50px;
  font-size: 18px;
}

/* ===== PRODUCT GRID ===== */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

/* ===== PRODUCT CARD ===== */
.product-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
}

.product-card img {
  width: 50%;
  height: 80px;
  object-fit: cover;
}

/* ===== PRODUCT INFO ===== */
.product-info {
  padding: 20px;
  text-align: center;
}

.product-info h4 {
  font-size: 20px;
  margin-bottom: 8px;
}

.product-price {
  font-size: 28px;
  font-weight: bold;
  color: #d4af37;
  margin-bottom: 25px;
}

.product-info a {
  background: black;
  color: gold;
  padding: 10px 22px;
  border-radius: 25px;
  font-weight: bold;
  display: inline-block;
}

.product-info a:hover {
  background: #333;
}

/* ===== FOOTER ===== */
footer {
  background: #000;
  color: gold;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .shop-title {
    font-size: 24px;
  }

  .shop-subtitle {
    font-size: 16px;
  }

  .hair-card img {
    height: 80px;
  }
  /* ===== HERO IMAGE (PAGE ACCUEIL) ===== */
.hero-img {
  max-width: 400px;   
  width: 80%;
  height: auto;
  display: block;
  margin: 30px auto;
}

}
